.btnUpload {
	 -fx-background-color :  #4186ce;
     -fx-graphic: url("../images/upload-white.png");
}

.btnSave {
	 -fx-background-color :  #0093DC;
     -fx-graphic: url("../images/save-white.png");
}

.btnCancel {
	 -fx-background-color :   #DA251E;
     -fx-graphic: url("../images/cancel-white.png");
}