.btn {
	-fx-border-color :  #06C49C;
	-fx-border-width : 0px 0px 1px 0px;
}

.btnDil {
   -fx-background-color : white;
     -fx-graphic: url("../images/cancel.png");
}

.btnSubmit {
	-fx-background-color : #4186CE;
     -fx-graphic: url("../images/submit.png");
}