.btn {
	-fx-border-color :  #DA251E;
	-fx-border-width : 0px 0px 1px 0px;
}

.btnDil {
   -fx-background-color : white;
     -fx-graphic: url("../images/logout.png");
}

.btnSubmit {
	-fx-background-color : #DA251E;
     -fx-graphic: url("../images/submit.png");
}

.btnChangePassword {
     -fx-graphic: url("../images/password-red.png");
}


.btnShitjet {
	 -fx-background-color : white;
     -fx-graphic: url("../images/sales.png");
}


.btnShitjet:focused {
     -fx-graphic: url("../images/sales-white.png");
     -fx-background-color : #DA251E;
     -fx-text-fill : white;
}


.btnInventari {
	 -fx-background-color : white;
     -fx-graphic: url("../images/inventory.png");
}

.btnInventari:focused {
     -fx-graphic: url("../images/inventory-white.png");
     -fx-background-color : #DA251E;
     -fx-text-fill : white;
}

.btnFurnizim{
	 -fx-background-color : white;
     -fx-graphic: url("../images/supply.png");
}

.btnFurnizim:focused {
     -fx-graphic: url("../images/supply-white.png");
     -fx-background-color : #DA251E;
     -fx-text-fill : white;
}

.btnBojra{
	 -fx-background-color : white;
     -fx-graphic: url("../images/ink.png");
}

.btnBojra:focused {
     -fx-graphic: url("../images/ink-white.png");
     -fx-background-color : #DA251E;
     -fx-text-fill : white;
}


.btnKlientet {
	 -fx-background-color : white;
     -fx-graphic: url("../images/clients.png");
}

.btnKlientet:focused {
     -fx-graphic: url("../images/clients-white.png");
     -fx-background-color : #DA251E;
     -fx-text-fill : white;
}

.btnPerdoruesit {
	 -fx-background-color : white;
     -fx-graphic: url("../images/perdoruesit.png");
}

.btnPerdoruesit:focused {
     -fx-graphic: url("../images/perdoruesit-white.png");
     -fx-background-color : #DA251E;
     -fx-text-fill : white;
}

.btnAdd {
     -fx-background-color : #DA251E;
     -fx-graphic: url("../images/add.png");
}

.btnExcel {
     -fx-background-color : #0093DC;
	 -fx-graphic: url("../images/excel.png");
}

.btnEdit {
     -fx-background-color : #DA251E;
 	-fx-graphic: url("../images/edit.png");
}

.btnPdf {
     -fx-background-color : #0093DC;
 	-fx-graphic: url("../images/pdf.png");
}

.delete {
	-fx-graphic: url("../images/delete.png");
    -fx-cursor: hand;
    -fx-background-color :  transparent;
}

.logo {
     -fx-background-image: url('../images/logo_white.png');
}

/*

.spinner {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}
.spinner:focused,
.spinner:contains-focus {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;
}
.spinner > .text-field {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1 0 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2;
}
.spinner:focused > .text-field,
.spinner:contains-focus > .text-field {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}

.spinner .increment-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 1 1 0 1, 2 2 1 2;
    -fx-background-radius: 0 3 0 0, 0 2 0 0, 0 1 0 0;
    -fx-padding: 0.333335em 0.666667em 0.333335em 0.666667em;  
}
.spinner .decrement-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1 1 1 1, 1 2 2 2;
    -fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
    -fx-padding: 0.333335em 0.666667em 0.333335em 0.666667em; 
}
.spinner:focused .increment-arrow-button,
.spinner:contains-focus .increment-arrow-button,
.spinner:focused .decrement-arrow-button,
.spinner:contains-focus .decrement-arrow-button {
    -fx-background-color: -fx-focus-color, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; 
    -fx-shape: "M 0 4 h 7 l -3.5 -4 z";
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; 
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}


.spinner.split-arrows-horizontal .increment-arrow-button .increment-arrow,
.spinner.arrows-on-right-horizontal .increment-arrow-button .increment-arrow,
.spinner.arrows-on-left-horizontal .increment-arrow-button .increment-arrow {
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; 
    -fx-shape: "M 0 0 v 7 l 3.5 -4 z";
}
.spinner.split-arrows-horizontal .decrement-arrow-button .decrement-arrow,
.spinner.arrows-on-right-horizontal .decrement-arrow-button .decrement-arrow,
.spinner.arrows-on-left-horizontal .decrement-arrow-button .decrement-arrow {
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; 
    -fx-shape: "M 4 0 v 7 l -4 -3.5 z";
}

.spinner.arrows-on-right-horizontal .increment-arrow-button {
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-background-insets: 0 0 0 -1, 1 1 1 0, 2 2 2 1;
}
.spinner.arrows-on-right-horizontal .decrement-arrow-button {
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1, 2;
}

.spinner.arrows-on-left-vertical > .text-field {
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}
.spinner.arrows-on-left-vertical .increment-arrow-button {
    -fx-background-radius: 3 0 0 0, 2 0 0 0, 1 0 0 0;
}
.spinner.arrows-on-left-vertical .decrement-arrow-button {
    -fx-background-radius: 0 0 0 3, 0 0 0 2, 0 0 0 1;
}

.spinner.arrows-on-left-horizontal > .text-field {
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}
.spinner.arrows-on-left-horizontal .increment-arrow-button {
    -fx-background-insets: 0 0 0 -1, 1 1 1 0, 2 2 2 1;
    -fx-background-radius: 0;
}
.spinner.arrows-on-left-horizontal .decrement-arrow-button {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1;
}
.spinner.arrows-on-left-vertical:focused > .text-field,
.spinner.arrows-on-left-vertical:contains-focus > .text-field,
.spinner.arrows-on-left-horizontal:focused > .text-field,
.spinner.arrows-on-left-horizontal:contains-focus > .text-field {
    -fx-background-insets: 1 1 1 0, 1 1 1 0, 3 3 3 2;
}

.spinner.split-arrows-vertical > .text-field {
    -fx-background-insets: 0, 0 1 0 1;
    -fx-background-radius: 0, 0;
}
.spinner.split-arrows-vertical .increment-arrow-button {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
}
.spinner.split-arrows-vertical .decrement-arrow-button {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}
.spinner.split-arrows-vertical:focused > .text-field,
.spinner.split-arrows-vertical:contains-focus > .text-field {
    -fx-background-insets: 0 1 0 1, 0 1 0 1, 2 3 2 3;
}

.spinner.split-arrows-horizontal > .text-field {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-background-radius: 0, 0;
}
.spinner.split-arrows-horizontal .increment-arrow-button {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}
.spinner.split-arrows-horizontal .decrement-arrow-button {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1;
}
.spinner.split-arrows-horizontal:focused > .text-field,
.spinner.split-arrows-horizontal:contains-focus > .text-field {
    -fx-background-insets: 1 0 1 0, 1 0 1 0, 3 2 3 2;
}

*/


/*******************************************************************************
 *                                                                             *
 * JFX Slider                                                                  *
 *                                                                             *
 ******************************************************************************/

.svg-slider .thumb {
    -fx-stroke: black;
    -fx-fill: black;
}


.jfx-slider-colored {
    -jfx-default-thumb: red;
    -jfx-default-track: red;
}

.jfx-slider-style {
    -jfx-indicator-position: right;
}

.jfx-slider-style > .thumb {
    -fx-background-color: #0E9654;
}

.jfx-slider-style .track {
    -fx-background-color: #0E9654;
    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
}

.jfx-slider-style .animated-thumb {
    -fx-background-color: #00A8E9;
}

.jfx-slider-style .sliderValue {
    -fx-stroke: WHITE;
    -fx-font-size: 16.0;
}